/* General reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
    text-decoration: none;
    color: currentColor;
}

img,
picture,
svg {
    max-width: 100%;
    display: block;
}

p:not([class]) {
    color: var(--clr-primary-300);
    letter-spacing: 0.013rem;
}

/* Custom properties */

:root {
    --ff-primary: "Outfit", sans-serif;

    --clr-accent-100: hsl(0, 0%, 100%);
    --clr-accent-300: hsl(212, 45%, 89%);

    --clr-primary-400: hsl(218, 44%, 22%);
    --clr-primary-300: hsl(216, 15%, 48%);

    --fw-regular: 400;
    --fw-bold: 700;

    --fs-400: 0.938rem;
    --fs-700: 1.375rem;

    --fs-body: var(--fs-400);
    --fs-heading: var(--fs-700);

    --size-200: 1rem;
    --size-300: 1.5rem;
    --size-500: 2.5rem;

}

/* Utility classes */
.text-primary-400 {
    color: var(--clr-primary-400);
}

.text-primary-300 {
    color: var(--clr-primary-300);
}

.text-accent-100 {
    color: var(--clr-accent-100);
}

.text-accent-300 {
    color: var(--clr-accent-300);
}

.bg-primary-400 {
    background-color: var(--clr-primary-400);
}

.bg-primary-300 {
    background-color: var(--clr-primary-300);
}

.bg-accent-100 {
    background-color: var(--clr-accent-100);
}

.bg-accent-300 {
    background-color: var(--clr-accent-300);
}

.fw-bold {
    font-weight: var(--fw-bold);
}

.fw-regular {
    font-weight: var(--fw-regular);
}

.fs-heading {
    font-size: var(--fs-700);
}

/* Styling */
body {
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    background-color: var(--clr-accent-300);
}

h1 {
    color: var(--clr-primary-400);
    line-height: 120%;
}

p {
    line-height: 140%;
}

.container {
    --max-width: 320px;
    --padding: 1rem;

    width: min(var(--max-width), 100% - (var(--padding) * 2));
    margin-inline: auto;
    margin-top: 2rem;

    background-color: var(--clr-accent-100);
    border-radius: 1.25rem;

    display: grid;
    gap: 0.5rem;
}

.text-center {
    text-align: center;
}

.even img {
    border-radius: 0.625rem;
}

.even {
    display: grid;
    padding-inline: var(--size-200);
    padding-block: var(--size-200) 0.4rem;
    gap: var(--size-200);
}

.gap {
    display: grid;
    gap: var(--size-200);
    padding-bottom: var(--size-500);
}

p[data-type="small"] {
    max-width: 27ch;
    margin-inline: auto;
}